@{
    ViewData["Title"] = "Home Page";
    ViewBag.InsertGutter = true;
}

<div
    class="flex md:flex-row xs:flex-col justify-center max-w-7xl mx-auto md:space-x-3 md:space-y-0 xs:space-x-0 xs:space-y-3 pt-35 xs:px-3">
    <div class="bg-darkBlue rounded-md text-center p-5">
        <a asp-action="Index" asp-controller="Store" asp-area="Admin">
            <h5 class="card-title">Store</h5>
            <i class="fas fa-shop fa-6x"></i>
        </a>
    </div>
    <div class="bg-darkBlue rounded-md text-center p-5">
        <a asp-action="Index" asp-controller="Market" asp-area="Admin">
            <h5 class="card-title">Market</h5>
            <i class="fas fa-arrow-trend-up fa-6x"></i>
        </a>
    </div>
    <div class="bg-darkBlue rounded-md text-center p-5">
        <a asp-action="Exceptions" asp-controller="Admin" asp-area="Admin">
            <h5 class="card-title">Exceptions</h5>
            <i class="fas fa-triangle-exclamation fa-6x"></i>
        </a>
    </div>
</div>